.u-section-1 .u-sheet-1 {
  min-height: 2936px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 21px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}